//header
@import "vars.less";

.fw-bold{
  font-weight: bold;
}
.logo{
  position: relative;
  top: 20px;
}

//top aside
.additional-info{
  text-align: center;
  display: block;
  background-color: @main-grey;
  color: @main-white;
  &__title{
    font-size: @font-size-18;
    .fw-bold;
  }
  &__explanation{
    font-size: @font-size-13;
  }
}
//

//inner
.inner{
  max-width: 1280px;
  margin: 0 auto;
}
//

//main-header
.header{
  &__global-icon{
    vertical-align: middle;
    padding-right: 7px;
  }
  &__link{
    color: #ffffff;
    &:hover{
      text-decoration: underline;
    }
  }
  &__address{
    width: 25%;
    align-self: center;
    .header__link{
      display: block;
      color: @main-green-black;
      font-size: @font-size-14;
      .fw-bold;
    }
  }
  &__address{
    color: @main-green-black;
    display: flex;
    align-items: center;
  }
  &__aside-bottom{
    padding: 6px;
  }
  &__info{
    background-color: @main-green;
  }

  &__user{
    display: flex;
    justify-content: space-between;
    line-height: 1.3;
    padding: 5px 20px 10px 20px;
    color: @main-white;
  }
  &__acc{
    letter-spacing: 1.2px;
    font-weight: bold;
  }
  &__money{
    margin-left: 10px;
  }
  &__btn {
    color: @main-white;
    background-color: transparent;
    .fw-bold;
  }
  &__btn:last-child{
    color: @main-green;
    background-color: @main-white;
    border-radius: 100%;
    width: 19px;
  }
  &__additional{
    &_top {
      height: 57px;
      padding-top: 9px;
    }
    &_bottom{
      padding: 6px;
    }
  }
  &__caption{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px 0 20px;
  }
  &__telephone-img{
    align-self: flex-start;
    padding-right: 7px;
  }
  &__main-photo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: @main-white;
    text-align: center;
  }
}
//

//search
.search{
  width: 25%;
  display: flex;
  align-self: center;
  justify-content: flex-end;
  align-items: center;
  &__main{
    width: 76%;
    background-color: @main-white;
    display: flex;
    justify-content: space-evenly;
  }
  &__block{
    height: 32px;
    .fw-bold;
    color: @main-green-black;
    padding: 0 0 0 10px;
    width: 85%;
  }
  &__img-wrapper{
    margin-left: 8px;
  }
  &__img{
    width: 25px;
    height: 25px;
    &_main{
      display: block;
      width: 9%;
    }
  }
}
//

