.fw-bold {
  font-weight: bold;
}
.logo {
  position: relative;
  top: 20px;
}
.additional-info {
  text-align: center;
  display: block;
  background-color: #2d2b31;
  color: #fff;
}
.additional-info__title {
  font-size: 18px;
  font-weight: bold;
}
.additional-info__explanation {
  font-size: 13px;
}
.inner {
  max-width: 1280px;
  margin: 0 auto;
}
.header__global-icon {
  vertical-align: middle;
  padding-right: 7px;
}
.header__link {
  color: #ffffff;
}
.header__link:hover {
  text-decoration: underline;
}
.header__address {
  width: 25%;
  align-self: center;
}
.header__address .header__link {
  display: block;
  color: #252c26;
  font-size: 14px;
  font-weight: bold;
}
.header__address {
  color: #252c26;
  display: flex;
  align-items: center;
}
.header__aside-bottom {
  padding: 6px;
}
.header__info {
  background-color: #a9b089;
}
.header__user {
  display: flex;
  justify-content: space-between;
  line-height: 1.3;
  padding: 5px 20px 10px 20px;
  color: #fff;
}
.header__acc {
  letter-spacing: 1.2px;
  font-weight: bold;
}
.header__money {
  margin-left: 10px;
}
.header__btn {
  color: #fff;
  background-color: transparent;
  font-weight: bold;
}
.header__btn:last-child {
  color: #a9b089;
  background-color: #fff;
  border-radius: 100%;
  width: 19px;
}
.header__additional_top {
  height: 57px;
  padding-top: 9px;
}
.header__additional_bottom {
  padding: 6px;
}
.header__caption {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 20px 0 20px;
}
.header__telephone-img {
  align-self: flex-start;
  padding-right: 7px;
}
.header__main-photo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}
.search {
  width: 25%;
  display: flex;
  align-self: center;
  justify-content: flex-end;
  align-items: center;
}
.search__main {
  width: 76%;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
}
.search__block {
  height: 32px;
  font-weight: bold;
  color: #252c26;
  padding: 0 0 0 10px;
  width: 85%;
}
.search__img-wrapper {
  margin-left: 8px;
}
.search__img {
  width: 25px;
  height: 25px;
}
.search__img_main {
  display: block;
  width: 9%;
}
/*# sourceMappingURL=header.css.map */