.menu {
  width: 100%;
  background-color: #fff;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__inner {
  height: 100%;
  display: flex;
}
.menu__link {
  color: #000000 !important;
  padding: 0 20px;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: 500;
  display: block;
  font-size: 14px;
  height: 100%;
}
.menu__link:hover {
  border-bottom: 3px solid #252c26;
}
.menu__submenu {
  position: absolute;
}
.submenu {
  display: flex;
  padding: 15px 40px 20px 15px;
  background-color: #e6e6e6;
  border-top: 1px solid #000000;
  z-index: 100;
  display: none;
}
.submenu__inner {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.submenu__item {
  padding: 7px 5px;
  width: 100%;
}
.submenu__item:last-child {
  padding-bottom: 0;
}
.submenu__item:hover {
  background-color: #f9f9f9;
}
.submenu__link {
  color: #000000;
  letter-spacing: 1.5px;
}
.submenu__title {
  margin: 0 0 0 5px;
  padding: 0 0 5px 0;
  text-transform: uppercase;
  font-weight: bold;
}
.submenu__decoration {
  height: 1px;
  background-color: #000000;
  width: 90%;
}
.item:hover > ul {
  display: flex;
}
/*# sourceMappingURL=navigation.css.map */