@import "vars.less";

//nav
.menu{
  width: 100%;
  background-color: @main-white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__inner{
    height: 100%;
    display: flex;
  }
  &__link{
    color: #000000 !important;
    padding: 0 20px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    font-size: @font-size-14;
    height: 100%;
    &:hover{
      border-bottom: 3px solid @main-green-black;
    }
  }
  &__submenu{
    position: absolute;
  }
}
//submenu
.submenu{
  display: flex;
  padding: 15px 40px 20px 15px;
  background-color: #e6e6e6;
  border-top: 1px solid #000000;
  z-index: 100;
  display: none;
//  transition: all 1s ease;
  &__inner{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 10px;
  }
  &__item{
    padding: 7px 5px;
    width: 100%;
    &:last-child{
      padding-bottom: 0;
    }
    &:hover{
      background-color: @light-grey;
    }
  }
  &__link{
    color: #000000;
    letter-spacing: 1.5px;
  }
  &__title{
    margin: 0 0 0 5px;
    padding: 0 0 5px 0;
    text-transform: uppercase;
    font-weight: bold;
  }
  &__decoration{
    //border: 0.5px solid #000000;
    height: 1px;
    background-color: #000000;
    width: 100%;
  }
}
.item:hover > ul{
  display: flex;
//  transition: all 1s ease;
}
//
//