@import "vars.less";

.picks{
  margin-top: 20px;
  &__title-wrapper{
    text-align: center;
    padding: 0 20px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 60px;
  }
  &__title{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background: white;
    position: absolute;
    padding: 0 7px;
    height: 100%;
    display: inline-block;
    line-height: 48px;
    font-family: 'Roboto Condensed','Helvetica Condensed','Arial Narrow',Arial,sans-serif;
  }
  &__decoration{
    border: 0.5px solid #c9cac8;
    position: absolute;
    top: 23px;
    left: 0;
    width: 100%;
  }
  &__list{
    //display: flex;
    //justify-content: space-between;
    margin: 10px 0 0 0;
  }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17%;
    transition-duration: 0.5s;
    //&:hover{
    //  box-shadow: 0 0 10px rgba(0,0,0,0.5);
    //  transition-duration: 0.2s;
    //}
  }
  &__img{
    max-width: 100%;
    object-fit: cover;
  }
  &__wrapper{
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  &__link{
    position: relative;
  }
  &__img-decor{
    top: 10px;
    left: 10px;
    width: 20%;
    height: 20%;
    position: absolute;
  }
  &__name{
    margin: 5px 0;
    color: #252c26;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.2s;
    &:hover{
      transition-duration: 0.2s;
      text-decoration: underline;
    }
  }
  &__cost_underline{
    text-decoration: line-through;
  }
  &__cost_now{
    color: #9a1a28;
    margin-left: 7px;
  }
}