@import "vars.less";
@import "header.less";
@import "navigation.less";
@import "picks.less";
@import "video.less";
@import "slider.less";

.shadow (@x, @y, @r, @w, @c){
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}
.shadow{
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1), 0px 0px 20px rgba(0, 0, 0, 1);
}
.fw-bold{
  font-weight: bold;
}

.main-inner{
  display: flex;
  justify-content: space-between;

}
.main-photo{
  width: 100%;
  height: 440px;
  background-repeat     : no-repeat;
  background-size       : cover;
  background-position-x : 50%;
  background-position-y : 50%;
  cursor: pointer;
  object-fit: cover;

}
.container{
  position: absolute;
  div:nth-child(1){
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 22px;

  }
  div:nth-child(2){
    font-size: 100px;
    line-height: 88px;
    .shadow;
  }
  div:nth-child(3){
    font-size: 30px;
    line-height: 40px;
    .shadow;
    font-weight: bold;

  }
  div:nth-child(4){
    font-size: 18px;
    line-height: 38px;
    .shadow;
    .fw-bold;
    span{
      .fw-bold;
      color: #f1c761;
      font-size: 18px;
      line-height: 38px;
      .shadow;
    }
  }
}
.btn-shop{
  padding: 8px 20px;
  margin-top: 5px;
  font-family: Arial;
  .fw-bold;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-shop:hover{
  background-color: #ccc;
  transition: 0.6s;
}
.banner{
  width: 100%;
  padding: 7px 0;
  position: fixed;
  background-color: @main-green;
  bottom: 0;
  .link{
    color: #000;
  }
  button:nth-child(1){
    padding: 3px 7px;
    border: 1.5px solid white;
  }

}
.btn-help{
  padding: 8px 17px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 13px;
  border: 2px solid #4c630e;
  background-color: #668414;
  color: black;
  font-weight: bolder;
  cursor: pointer;
}

.shop{
  margin: 20px 20px;
  &__photo{
    margin: 20px 0;
  }
  &__list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

  }
  &__link{
    &:hover strong, &:hover span{
      color: #2d2b31;
    }
    span{
      color: #000;
      display: block;
      font-size: @font-size-14;

    }
    strong{
      color: #000;
      display: block;
      text-transform: uppercase;
      .fw-bold;
      font-size: @font-size-14;
      img{
        height: 15px;
      }
    }
  }
  &__photo-inner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1280px;
    margin: 0 auto;
    font-size: 16px;
    grid-gap: 20px;
  }

  &__item{
    display: flex;
    padding: 10px;
    div{
      img{
        padding-right: 8px;
      }
    }
  }
}
.photo__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .btn-shop{
    position: absolute;
    background-color: #0000007d;
    color: white;
    border: 1.5px solid white;
    margin: 0 0 39px 0;
    .fw-bold;
  }
  img {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}
.btn-wrapper{
  display: flex;
  justify-content: space-evenly;
}
.banner-free{

}
.main__inner_banner{
  background: url(https://cdnmedia.theirishstore.com/wysiwyg/Homepage/maps.png);
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 25px 20px;
  strong{
    display: block;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 3px;
    .fw-bold;
    text-transform: uppercase;
  }
  span{
    display: block;
    font-size: @font-size-14;
    letter-spacing: 1px;
    font-weight: 300;
  }
}

.banner-main{
  margin-top: 20px;
  &__txt{
    width: 100%;
    margin: 20px 0;
    text-align: center;
    line-height: 1.1;
    font-size: 2.4rem;
    letter-spacing: 0.75px;
  }
  &__inner{
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px  auto auto;
    grid-template-areas:  "tribute tribute"
                          "im-f im-s"
                          "inf-f inf-s";
    grid-gap: 20px;
  }
  &__tribute{
    grid-area: tribute;
    position: relative;

    img{
      max-width: 100%;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    &-text{
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      height: 100%;
      flex-direction: column;
      text-align: center;
      div:nth-child(1){
        font-size: 30px;
        line-height: 34px;
      }
    }
  }
  &__img{
    &_first{
      grid-area: im-f;
      img{
        max-width: 100%;
        //max-height: 100%;
      }
    }
    &_second{
      grid-area: im-s;
      img{
        max-width: 100%;
        //max-height: 100%;
      }
    }
  }
  &__info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .btn-shop{
      background: transparent;
      border: 1px solid #252c26;
      padding: 11px 20px;
      transition-duration: 0.3s;
      &:hover{
        border: 1px solid #bababa;
        color: #bababa;
        transition-duration: 0.3s;
      }
    }
    &_first{
      grid-area: inf-f;
    }
    &_second{
      grid-area: inf-s;
    }
  }
}