.fw-bold {
  font-weight: bold;
}
.logo {
  position: relative;
  top: 20px;
}
.additional-info {
  text-align: center;
  display: block;
  background-color: #2d2b31;
  color: #fff;
}
.additional-info__title {
  font-size: 18px;
  font-weight: bold;
}
.additional-info__explanation {
  font-size: 13px;
}
.inner {
  max-width: 1280px;
  margin: 0 auto;
}
.header__global-icon {
  vertical-align: middle;
  padding-right: 7px;
}
.header__link {
  color: #ffffff;
}
.header__link:hover {
  text-decoration: underline;
}
.header__address {
  width: 25%;
  align-self: center;
}
.header__address .header__link {
  display: block;
  color: #252c26;
  font-size: 14px;
  font-weight: bold;
}
.header__address {
  color: #252c26;
  display: flex;
  align-items: center;
}
.header__aside-bottom {
  padding: 6px;
}
.header__info {
  background-color: #a9b089;
}
.header__user {
  display: flex;
  justify-content: space-between;
  line-height: 1.3;
  padding: 5px 20px 10px 20px;
  color: #fff;
}
.header__acc {
  letter-spacing: 1.2px;
  font-weight: bold;
}
.header__money {
  margin-left: 10px;
}
.header__btn {
  color: #fff;
  background-color: transparent;
  font-weight: bold;
}
.header__btn:last-child {
  color: #a9b089;
  background-color: #fff;
  border-radius: 100%;
  width: 19px;
}
.header__additional_top {
  height: 57px;
  padding-top: 9px;
}
.header__additional_bottom {
  padding: 6px;
}
.header__caption {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 20px 0 20px;
}
.header__telephone-img {
  align-self: flex-start;
  padding-right: 7px;
}
.header__main-photo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}
.search {
  width: 25%;
  display: flex;
  align-self: center;
  justify-content: flex-end;
  align-items: center;
}
.search__main {
  width: 76%;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
}
.search__block {
  height: 32px;
  font-weight: bold;
  color: #252c26;
  padding: 0 0 0 10px;
  width: 85%;
}
.search__img-wrapper {
  margin-left: 8px;
}
.search__img {
  width: 25px;
  height: 25px;
}
.search__img_main {
  display: block;
  width: 9%;
}
.menu {
  width: 100%;
  background-color: #fff;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__inner {
  height: 100%;
  display: flex;
}
.menu__link {
  color: #000000 !important;
  padding: 0 20px;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: 500;
  display: block;
  font-size: 14px;
  height: 100%;
}
.menu__link:hover {
  border-bottom: 3px solid #252c26;
}
.menu__submenu {
  position: absolute;
}
.submenu {
  display: flex;
  padding: 15px 40px 20px 15px;
  background-color: #e6e6e6;
  border-top: 1px solid #000000;
  z-index: 100;
  display: none;
}
.submenu__inner {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 10px;
}
.submenu__item {
  padding: 7px 5px;
  width: 100%;
}
.submenu__item:last-child {
  padding-bottom: 0;
}
.submenu__item:hover {
  background-color: #f9f9f9;
}
.submenu__link {
  color: #000000;
  letter-spacing: 1.5px;
}
.submenu__title {
  margin: 0 0 0 5px;
  padding: 0 0 5px 0;
  text-transform: uppercase;
  font-weight: bold;
}
.submenu__decoration {
  height: 1px;
  background-color: #000000;
  width: 100%;
}
.item:hover > ul {
  display: flex;
}
.picks {
  margin-top: 20px;
}
.picks__title-wrapper {
  text-align: center;
  padding: 0 20px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 60px;
}
.picks__title {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background: white;
  position: absolute;
  padding: 0 7px;
  height: 100%;
  display: inline-block;
  line-height: 48px;
  font-family: 'Roboto Condensed', 'Helvetica Condensed', 'Arial Narrow', Arial, sans-serif;
}
.picks__decoration {
  border: 0.5px solid #c9cac8;
  position: absolute;
  top: 23px;
  left: 0;
  width: 100%;
}
.picks__list {
  margin: 10px 0 0 0;
}
.picks__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17%;
  transition-duration: 0.5s;
}
.picks__img {
  max-width: 100%;
  object-fit: cover;
}
.picks__wrapper {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.picks__link {
  position: relative;
}
.picks__img-decor {
  top: 10px;
  left: 10px;
  width: 20%;
  height: 20%;
  position: absolute;
}
.picks__name {
  margin: 5px 0;
  color: #252c26;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.2s;
}
.picks__name:hover {
  transition-duration: 0.2s;
  text-decoration: underline;
}
.picks__cost_underline {
  text-decoration: line-through;
}
.picks__cost_now {
  color: #9a1a28;
  margin-left: 7px;
}
.decor {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.video {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 0;
}
.video__container {
  width: 48%;
}
.video__main {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.video__img {
  width: 100%;
  z-index: 50;
  margin: 5px;
  cursor: pointer;
  position: relative;
  transition-duration: 0.7s;
}
.video__img:hover {
  transition-duration: 0.7s;
  filter: brightness(80%);
}
.video__iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
}
.video__btn {
  width: 72px;
  height: 72px;
  background: url(TxzC70f.png);
  position: absolute;
  z-index: 200;
}
.video__decoration {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: hsl(70.76923077, 19.8%, 61.37%);
  z-index: 30;
}
.video__caption {
  text-align: center;
  margin: 20px 0 0 0;
}
.video__title {
  font-size: 22px;
  line-height: 50px;
}
.popup {
  position: fixed;
  background-color: #0006;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 800;
}
.popup__wrapper {
  background-color: #a9b089;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 60%;
  position: relative;
}
.popup__video {
  width: 96%;
  height: 94%;
}
.popup__btn {
  width: 35px;
  height: 35px;
  background-color: #00000075;
  position: absolute;
  top: -17.5px;
  right: -17.5px;
  z-index: 1000;
  border-radius: 100px;
  border: 2px solid white;
  cursor: pointer;
}
.popup__decor {
  width: 3px;
  height: 25px;
  background-color: white;
  left: 14px;
  position: absolute;
  top: 3px;
}
.popup__decor:first-child {
  transform: rotate(45deg);
}
.popup__decor:last-child {
  transform: rotate(-45deg);
}
/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
}
/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.shadow {
  text-shadow: 0px 0px 10px #000000, 0px 0px 20px #000000;
}
.fw-bold {
  font-weight: bold;
}
.main-inner {
  display: flex;
  justify-content: space-between;
}
.main-photo {
  width: 100%;
  height: 440px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
  cursor: pointer;
  object-fit: cover;
}
.container {
  position: absolute;
}
.container div:nth-child(1) {
  padding-top: 50px;
  padding-bottom: 10px;
  font-size: 22px;
}
.container div:nth-child(2) {
  font-size: 100px;
  line-height: 88px;
  text-shadow: 0px 0px 10px #000000, 0px 0px 20px #000000;
}
.container div:nth-child(3) {
  font-size: 30px;
  line-height: 40px;
  text-shadow: 0px 0px 10px #000000, 0px 0px 20px #000000;
  font-weight: bold;
}
.container div:nth-child(4) {
  font-size: 18px;
  line-height: 38px;
  text-shadow: 0px 0px 10px #000000, 0px 0px 20px #000000;
  font-weight: bold;
}
.container div:nth-child(4) span {
  font-weight: bold;
  color: #f1c761;
  font-size: 18px;
  line-height: 38px;
  text-shadow: 0px 0px 10px #000000, 0px 0px 20px #000000;
}
.btn-shop {
  padding: 8px 20px;
  margin-top: 5px;
  font-family: Arial;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-shop:hover {
  background-color: #ccc;
  transition: 0.6s;
}
.banner {
  width: 100%;
  padding: 7px 0;
  position: fixed;
  background-color: #a9b089;
  bottom: 0;
}
.banner .link {
  color: #000;
}
.banner button:nth-child(1) {
  padding: 3px 7px;
  border: 1.5px solid white;
}
.btn-help {
  padding: 8px 17px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 13px;
  border: 2px solid #4c630e;
  background-color: #668414;
  color: black;
  font-weight: bolder;
  cursor: pointer;
}
.shop {
  margin: 20px 20px;
}
.shop__photo {
  margin: 20px 0;
}
.shop__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.shop__link:hover strong,
.shop__link:hover span {
  color: #2d2b31;
}
.shop__link span {
  color: #000;
  display: block;
  font-size: 14px;
}
.shop__link strong {
  color: #000;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
.shop__link strong img {
  height: 15px;
}
.shop__photo-inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1280px;
  margin: 0 auto;
  font-size: 16px;
  grid-gap: 20px;
}
.shop__item {
  display: flex;
  padding: 10px;
}
.shop__item div img {
  padding-right: 8px;
}
.photo__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.photo__item .btn-shop {
  position: absolute;
  background-color: #0000007d;
  color: white;
  border: 1.5px solid white;
  margin: 0 0 39px 0;
  font-weight: bold;
}
.photo__item img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.btn-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.main__inner_banner {
  background: url(https://cdnmedia.theirishstore.com/wysiwyg/Homepage/maps.png);
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 25px 20px;
}
.main__inner_banner strong {
  display: block;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: uppercase;
}
.main__inner_banner span {
  display: block;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}
.banner-main {
  margin-top: 20px;
}
.banner-main__txt {
  width: 100%;
  margin: 20px 0;
  text-align: center;
  line-height: 1.1;
  font-size: 2.4rem;
  letter-spacing: 0.75px;
}
.banner-main__inner {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 250px  auto auto;
  grid-template-areas: "tribute tribute" "im-f im-s" "inf-f inf-s";
  grid-gap: 20px;
}
.banner-main__tribute {
  grid-area: tribute;
  position: relative;
}
.banner-main__tribute img {
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.banner-main__tribute-text {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100%;
  flex-direction: column;
  text-align: center;
}
.banner-main__tribute-text div:nth-child(1) {
  font-size: 30px;
  line-height: 34px;
}
.banner-main__img_first {
  grid-area: im-f;
}
.banner-main__img_first img {
  max-width: 100%;
}
.banner-main__img_second {
  grid-area: im-s;
}
.banner-main__img_second img {
  max-width: 100%;
}
.banner-main__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.banner-main__info .btn-shop {
  background: transparent;
  border: 1px solid #252c26;
  padding: 11px 20px;
  transition-duration: 0.3s;
}
.banner-main__info .btn-shop:hover {
  border: 1px solid #bababa;
  color: #bababa;
  transition-duration: 0.3s;
}
.banner-main__info_first {
  grid-area: inf-f;
}
.banner-main__info_second {
  grid-area: inf-s;
}
/*# sourceMappingURL=style.css.map */