@font-size-13: 13px;
@font-size-14: 14px;
@font-size-15: 15px;
@font-size-16: 16px;
@font-size-17: 17px;
@font-size-18: 18px;

@main-grey: #2d2b31;
@main-green-black: #252c26;
@main-white: #fff;
@main-green: #a9b089;
@light-grey: #f9f9f9;
