@import "vars.less";

//video
.decor{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.video{
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 0;
  &__container{
    width: 48%;
  }
  &__main{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  &__img{
    width: 100%;
    z-index: 50;
    margin: 5px;
    cursor: pointer;
    position: relative;
    transition-duration: 0.7s;
    &:hover{
      transition-duration: 0.7s;
      filter: brightness(80%);
    }
  }
  &__iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
  }
  &__btn{
    width: 72px;
    height: 72px;
    background: url(TxzC70f.png);
    position: absolute;
    z-index: 200;
  }
  &__decoration{
    .decor;
    background-color: hsla(70.76923076923077, 19.80%, 61.37%, 1.00);
    z-index: 30;
  }
  &__caption{
    text-align: center;
    margin: 20px 0 0 0;
  }
  &__title{
    font-size: 22px;
    line-height: 50px;
  }
}
//
//popup
.popup{
  position: fixed;
  background-color: #0006;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 800;
  &__wrapper{
    background-color: @main-green;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 60%;
    position: relative;
  }
  &__video{
    width: 96%;
    height: 94%;
  }
  &__btn{
    width: 35px;
    height: 35px;
    background-color: #00000075;
    position: absolute;
    top: -17.5px;
    right: -17.5px;
    z-index: 1000;
    border-radius: 100px;
    border: 2px solid white;
    cursor: pointer;
  }
  &__decor{
    width: 3px;
    height: 25px;
    background-color: white;
    left: 14px;
    position: absolute;
    top: 3px;
    &:first-child{
      transform: rotate(45deg);
    }
    &:last-child{
      transform: rotate(-45deg);
    }
  }
}
//